/*
NOTE: Alterations to Docsy typically use a "td" namespace,
styles which utilize this should be commented to make it clear
what the workaround is for
*/

// Make it clear that that clickable images open a Bootstrap modal
.modal-trigger {
  cursor: pointer;
}

// External link icon
a > .fa-external-link-alt::before,
a > span > .fa-external-link-alt::before {
  font-size: 50%;
  margin-left: 3px;
  opacity: 0.8;
  vertical-align: top;
}

.td-sidebar-nav a[target="_blank"]:after {
  @extend .fas;
  font-size: 50%;
  margin-left: 3px;
  opacity: 0.8;
  vertical-align: text-top;
  content: fa-content($fa-var-external-link-alt);
}

// NAVBAR

.navbar-logo {
  fill: $chargedyellow;
}

.td-max-width-on-larger-screens, .td-card.card, .td-content .td-card.highlight, .td-card-deck.card-deck, .td-content > pre, .td-content > .highlight, .td-content > .lead, .td-content > h1, .td-content > h2, .td-content > ul, .td-content > ol, .td-content > p, .td-content > blockquote, .td-content > dl dd, .td-content .footnotes, .td-content > .alert {
  max-width: 90%;
}