+++
title = "Mezmo Workshops"
+++

{{< blocks/cover title="Welcome to the Mezmo Workshops!" image_anchor="center" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/pet-clinic" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New Mezmo Platform Workshop!" %}}
Mezmo Workshops has added the Mezmo Platform Workshop!  This workshop showcases the full end to end offering of the Mezmo Platform.

Check it out [now]({{< relref "/pet-clinic" >}})
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/logdna/mezmo-workshops" %}}
We do a [Pull Request](https://github.com/logdna/mezmo-workshops/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/mezmodata" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}