+++
title = "Mezmo Workshops"
+++

{{< blocks/cover title="Welcome to the Mezmo Workshops!" image_anchor="center" height="auto" color="primary" >}}
{{< /blocks/cover >}}

{{< blocks/section color="100" >}}
{{% blocks/feature icon="fa-file-import" title="Mezmo Platform" url="/mezmo-workshops/pet-clinic"%}}
Follow a hands-on guide showcasing how to take an open source Java application ([PetClinic](https://spring-petclinic.github.io/) from Spring Boot) and enable collection of its log output to be aggregated and managed on the Mezmo Platform.  Furthermore, Alert conditions will be defined, data transformation and reduction will be used to demonstrate how to control costs associated with collecting Observability data.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-code-branch" title="Encrypt, Drop and Route to S3" url="/mezmo-workshops/transaction-to-s3"%}}
Collect incoming financial transactions from edge devices, encrypt them in motion, filter, reduce and pass the information downstream to S3.  This is a common scenario in retail, banking and other industries with many complexities to consider.  A simplified version is presented to illustrate the fundamentals of the Mezmo Pipeline (Tech Preview).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-snowflake" title="Dynamic S3 Snowflake Ingestion" url="/mezmo-workshops/s3-to-snowflake"%}}
Take signals coming from multiple edge nodes and load them into Snowflake.  We will utilize dynamic S3 location routing and ingesting the data into Snowflake using an external table and snowpipe.
{{% /blocks/feature %}}
{{< /blocks/section >}}
